.notifications {
    position: relative;
    width: 600px;
    flex: 1 1 0%;
    flex-direction: column;
    border-right: 1px solid #EFF3F4;
    border-left: 1px solid #EFF3F4;
    background: white;
    font-family: Helvetica, sans-serif;
    z-index: 0; 
}
.div-size{
    border-bottom: 1px solid #EFF3F4;
}
.div-border{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 3;
    border-bottom: 1px solid #EFF3F4;
}
.div-notifi {
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: #fff;
    padding: 0 1rem;
}
.notifi {
    text-align: left;
    height: 53px;
}
.name {
    display: inline-block;
    padding: 16px 0;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
}
.seticon > svg {
    height: 1.3rem;
    padding: 8px;
}
.seticon > svg:hover {
    background: #E7E7E8;
    border-radius: 50%;
}
.div-notifii {
    height: 53px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #fff;
}
.all {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 247px;
    height: 100%;  
}
.all:hover {
    background: #E7E7E8;
}
.name2 {
    padding: 1rem 0;
    font-weight: bold;
    color: grey;
}
.underline {
    width: 56px;
    height: 4px;
    background: #1D9BF0;
}
.name3 {
    font-weight: bold;
    color: grey;
}
.mentions {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 0 1rem;   
}
.mentions:hover {
    background: #E7E7E8;
}
.name3 {
    display: inline-block;
    padding: 16px 0;
}
.div-bottom {
    border-bottom: 1px solid #EFF3F4;
    cursor: pointer;
}
.div-bottom:hover {
    background: #E7E7E8;
}
.div-notifi2 {
    padding: 1.5rem 1rem;
    text-align: left;
}
.bell > svg {
    fill: currentColor;
    color: blue;
    position: relative;
    top: -0.3rem;
    left: 22px;
    margin-right: 24px;
}
.bell > img {
    border-radius: 50%;
    margin-left: 0.7rem;
}
.div-span {
    display: flex;
    position: relative;
    top: 0.8rem;
    margin: 0;
    margin-left: 4rem;
    font-size: 14px;
}
.margin-rig {
    margin-right: 1rem;
}
.font2 {
    font-weight: bold;
    cursor: pointer;
}
.font2:hover {
    text-decoration: underline;
}
.recommend {  
    display: flex;
    padding: 12px 16px;
    cursor: pointer; 
}
.recommend:hover {
    background: #E7E7E8;
}
.recommend2 {
    display: flex;
    flex-direction: column;
}
.recommend3 {
    display: flex;
    justify-content: space-between;
    height: 32px;
    margin-bottom: 12px;
   
}
.recommend-icon {
    width: 48px;
    height: 100%;
}
.recommend-icon > svg {
    padding-left: 22px;
}
.circle-flex {
    display: flex;
    cursor: pointer;
    padding: 2px;
    align-items: center;
    padding: 1px 8px;
}
.circle-flex:hover {
    background: #d4d4db;
    border-radius: 9999px;
}
.circle-recom {
    padding: 1px;
    margin-right: 1px;
    width: 2px;
    height: 2px;
    border-radius: 9999px;
    background: black;
    opacity: 0.7;
}
.recommend-image {
    text-align: left;
    margin-left: 0.7rem;
}
.recommend-image > img {
    border-radius: 50%;
}
.div-rec {
    text-align: left;
    margin-left: 0.7rem;
    font-size: 14px;
}
.rec {
    padding-bottom: 7px;
}
.agı {
    line-height: 20px;
    color: rgb(83, 100, 113);
}
