.listyle {
    list-style-type: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.changeColor{
    padding: 1rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}
.changeColor:hover {
    background-color: rgba(231, 231, 232);
    border-radius: 9999px;
}
.changeColor--active {
    color: red;
}
.span-style {    
    margin-left: 1.25rem; 
    font-weight: 400; 
    color: #322f2f;
    font-size: 20px;
}
.span-style-active {
    color: black;
    font-weight: 600;
}
