.contents {
    position: relative;
    display: flex;
    width: 598px;
    top: 0;
    flex: 1 1 0%;
    flex-direction: column;
    border-right: 1px solid #EFF3F4;
    border-left: 1px solid #EFF3F4;
    background: white;
    z-index: 0;
}
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    width: 566px;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

header > span {
    align-items: center;
    padding: 2px 0;
    color: black;
    font-weight: bold; 
    font-size: 22px;
    opacity: 0.9;
    font-family: cursive;
}

.toptweet {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    height: 2rem;
    width: 2rem;
}
.toptweet > svg {
    width: 20px;
    height: 20px;
}
.toptweet:hover {
    background: rgba(231, 231, 232);
    border-radius: 9999px;
}
.toptweet .colorSize {
    margin-left: 0;
}
aside {
    display: flex;
    flex-direction: column;
}

.condition {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #EFF3F4;;
    padding: 0.25rem 1rem;
}
.condition-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.condition-flex > img {
    border-width: 1px;
    width: 46px;
    height: 46px;
    border-radius: 9999px;
    cursor: pointer;
    background: none;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    margin-right: 1rem;
}
.condition > img:hover {
    background: #B2BAC0;
    opacity: 1;
}

.icon {
    position: relative;
    top: 1rem;
    left: 3.3rem;
    text-align: left;
    cursor: pointer;
    padding: 5px;
    align-items: center;
    justify-content: center;   
}
.icon > button {
    position: relative;
    left: 17rem;
    color: white;    
    padding: 5px;
    width: 5rem;
    height: 2rem;
    border-radius: 9999px;
    background: #8ECDF8;
    border: 1px solid #8ECDF8;
    font-size: 0.9rem;
    font-weight: bold;
    top: -0.75rem;
}
.icons {
    padding: 6px;
}
.light-blue g, .light-blue path, .light-blue circle{
    fill: #1D9BF0;
    
}
.light-blue:hover{
    background: #E8F5FD;
    border-radius: 9999px;   
}
textarea {
    width: 501px;
    height: 24px;
    font-size: x-large;
    outline: none;
    overflow: hidden;
    background: transparent;
    border: none;
    padding: 18px 0 12px;
}
.classdiv2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px; 
}
.classdiv2 > div {
    display: flex;
}

.size >svg {
    height: 18px !important;
    fill: currentColor;
    color: #1D9BF0;
    padding: 8px;
}
.size > svg:hover{
    cursor: pointer;
    background: #E8F5FD;
    border-radius: 9999px;   
}
.size {
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    background: #8ECDF8;
    border: none;
    border-radius: 9999px;
    padding: 1px 6px;
    color: white;
    font-size: medium;
    width: 5rem;
    height: 2.3rem;
    align-items: center;
}
article {
    display: flex;
    padding: 0.75rem 1rem 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
article:hover {
    background: #F7F7F7;
}
article > img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.75rem;
}
.divpost {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
}
.post > span:first-child {
    font-weight: 600;
    font-size: 0.9rem;
    opacity: 0.9;
    margin-right: 5px;
}
.post > span:last-child {
    font-size: 0.9rem;
    opacity: 0.7;
}
.iconflex {
    display: flex;
    width: 425px;
    padding: 0;
    justify-content: space-between;
}
.iconflex > li {
    list-style: none;
}
.iconflex > li > div {
    display: flex;
    align-items: center;
}
.iconflex > li > div > svg {
    width: 18.75px;
    height: 18.75px;
    padding: 0.5rem;
    opacity: 0.7;
    cursor: pointer;
}
.iconflex > li > div > svg:hover {
    background: #E1EEF7;
    border-radius: 50%;
    fill: currentColor;
    color: #1D9BF0;
}
.iconflex > li > div > span {
    font-size: 0.95rem;
    opacity: 0.7;
    padding: 0 0.3rem;
    cursor: pointer;
}
.iconflex > li > div > span:hover {
    color: #1D9BF0;
}






