.mywidgets {
    position: relative;
    width: 388px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
}
.divarama {
    position: sticky;
    top: 0;
    padding: 0.8rem 0 0 0.8rem;
    background: #fff;
    z-index: 100;
}
.arama{
    position: sticky;
    top: 0;
    height: 3rem; 
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #fff;
}
.arama > svg {
    position: absolute;
    width: 1.2rem;
    top: 45%;
    left: 1.4rem;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: grey;
    fill: currentColor;
}
.arama > input {
    width: 19rem;
    position: absolute; 
    left: 0; 
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding-left: 3rem;
    height: 2.5rem;
    border-radius: 9999px;
    background: #EFF3F4; 
    border: 1px solid #EFF3F4;
}
.arama :focus{
    outline: none;
    background: white;
    border: 1px solid #1D9BF0;
}
.share {
    margin-left: 0.8rem;
}
